@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto-v30-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/roboto-v30-latin-regular.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v30-latin-600.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto-v30-latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto-v30-latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/roboto-v30-latin-600.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../fonts/roboto-v30-latin-600.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../fonts/roboto-v30-latin-600.svg#Roboto') format('svg'); /* Legacy iOS */
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto-v30-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/roboto-v30-latin-700.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../fonts/roboto-v30-latin-700.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/play-v19-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/play-v19-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/play-v19-latin-regular.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../fonts/play-v19-latin-regular.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../fonts/play-v19-latin-regular.svg#Play') format('svg'); /* Legacy iOS */
}
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/play-v19-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/play-v19-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/play-v19-latin-700.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../fonts/play-v19-latin-700.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../fonts/play-v19-latin-700.svg#Play') format('svg'); /* Legacy iOS */
}

:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-primary-light: #fff;
  --color-primary-dark: #000;
  --color-primary-dark2: #4a4a4a;
  --color-primary-dark3: #747272;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-brand-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Linc */
.linc {
  color: var(--color-brand-dark);
  text-decoration: none;
}
.linc:hover {
  color: var(--color-brand-light);
}

/* Button */
.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  border-radius: 32px;
  padding: 16px 32px;
  cursor: pointer;
  max-width: 295px;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}
.button_our {
  color: var(--color-primary-light);
  background-color: transparent;
  border: 2px solid var(--color-primary-dark3);
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  border-radius: 32px;
  padding: 18px 32.85px;
  cursor: pointer;
  width: 310px;
}

.button_our:hover {
  background-color: var(--color-primary-dark3);
}

/* Header */
.container {
  width: 100%;
  max-width: 1464px;
  margin: 0 auto;
  padding: 0 24px;
}

.header-container {
  display: flex;
  background-color: #b0eec5; /*DELL*/
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  gap: 56px;
}

.icon-conteiner {
  display: flex;
}

.nav-header {
  /* display: flex; */
  /* flex-grow: 1; */
}

/* Hero section */
.container-hero {
  width: 100%;
  max-width: 529px;
  margin: 0 auto;
  margin-left: 200px;
}

.hero_title {
  margin-bottom: 40px;
  color: var(--color-brand-light);
  font-family: 'Play', sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  text-align: left;
  text-transform: capitalize;
}
.button_description {
  color: var(--color-primary-dark2);
  font-size: 12px;
  line-height: 1.5;
}

/* Advantages section */
/* about_beauty_zone */
.title-text-container {
  width: 100%;
  max-width: 709px;
}

.title-filling {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-photo-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.photo-to {
  display: flex;
  justify-content: flex-start;
}

.photo-after {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 176px;
}

.section-title {
  color: var(--color-brand-dark);
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

.brand {
  color: var(--color-brand-light);
}

.capitalize {
  text-transform: capitalize;
}

.container_about {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.about-title {
  margin-bottom: 40px;
}

.title .section-title {
  text-align: left;
}

.title_description {
  font-size: 22px;
  line-height: 1.7;
}

.title_description .capitalize {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-weight: bold;
}

/* why_us */
.flexbox-why {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 56px;
  margin-bottom: 96px;
}

.container_why {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}

.why-title {
  margin-bottom: 48px;
}

.why_us_description {
  color: var(--color-primary-dark);
  line-height: 1.3;
}

.why_us_icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

/* our_procedures */
.flexbox-procedures {
  display: flex;
  align-items: center;
  gap: 16px;
}

.container_our_procedures {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
}

.our-title {
  margin-bottom: 48px;
}

.procedures_description {
  color: var(--color-primary-light);
  font-size: 22px;
  text-align: center;
  margin-bottom: 32px;
}

/* contacts_title */
.button-and-agree {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.flexbox-contacts {
  display: flex;
  gap: 32px;
  margin-bottom: 94px;
}

.flexbox-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.container_contacts_title {
  width: 100%;
  max-width: 1059px;
  margin: 0 auto;
}

.contact_find_title {
  margin-bottom: 48px;
}

.record_title {
  margin-top: 48px;
  margin-bottom: 16px;
}

.button_agree {
  color: var(--color-primary-dark3);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.agree_underline {
  text-decoration-line: underline;
}

.our_found {
  color: var(--color-primary-light);
  background-color: var(--color-brand-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  width: 423px;
}

/* contacts_footer */
.flexcontact {
  display: flex;
  gap: 186px;
}

.contact-box-address {
  display: flex;
  flex-direction: column;
  width: 192px;
  align-items: flex-start;
  gap: 16px;
}

.contact-box-we {
  display: flex;
  align-items: flex-start;
  gap: 186px;
}

.contact-flexbox {
  display: flex;
  gap: 186px;
  margin: 0 100px;
  padding: 56px 0;
  justify-content: center;
}

.contact-box-icon {
  display: flex;
  justify-content: space-between;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.container_adress {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.vidstup {
  margin-bottom: 16px;
}

.address-linc {
  color: var(--color-primary-light);
  text-decoration: none;
}

.address_footer {
  background-color: var(--color-brand-dark);
  font-size: 16px;
}

.address_copyright {
  color: var(--color-primary-dark3);
  font-size: 13px;
}

.address_medicine {
  text-align: right;
}
